.icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-price {
  font-weight: 500;
  text-transform: lowercase;
  font-size: 16px;
  color: rgb(0, 0, 0);
}
.top-price span {
  font-weight: 700;
  color: #1890ff;
}
.homeBox {
  display: inline-block;
}
.homeBox .homeBox-content {
  display: block !important;
  max-width: 100% !important;
}
